.btn{
  display: inline-block;
  border: none;
  background-color: var(--main-500);
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  transition: background .3s;
  &:hover{
    color: #fff;
    background-color: var(--main-300);
  }
  &:focus{
    outline: none;
  }
}
